body {
    background-image: url('https://img.freepik.com/free-photo/cloud-blue-sky_1232-3108.jpg?w=1380&t=st=1667820458~exp=1667821058~hmac=f47df7af807c87d04fd53e7dfcee3c834ba2b67443cc6247dee0bebc3ea64e83');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;

    }

#container {
display: flex;
flex-direction: column;
flex-wrap: wrap;
background-image: linear-gradient(rgba(233, 200, 200, 0.3), rgba(0, 0, 0, 0.6));
min-height: 100vh;
}
    
#header{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
#input {
    background-color: rgba(142, 127, 161, 0.3);
    border-radius: 20px;
    border: 3px solid #CDF3A2;
    padding: 15px;
    font-size: 20px;
    }
    #input:focus {
background-color: #fff;
    }
    #when-where {
display: flex;
flex-direction: column;
align-items: center;
    }
    #city {
        color: #fff;
        font-size: 40px;

    }
#date {
color: #fff;
font-size: 24px;
}
#now {
display: flex;
flex-direction: column;
align-items: center;
}
#temperature {
color: #fff;
font-size: 110px;
font-weight: bold;
text-shadow: 5px 10px black;
margin: 0;
}
#feelslike {
color: #fff;
font-size: 30px;
font-weight: bold;
}
#conditions {
color: #fff;
font-size: 32px;
font-weight: bold;
font-style: italic;
}
#variation {
color: #fff;
font-size: 26px;
font-weight: bold;
}
